@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Noto+Serif+KR:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-bg: #E0F7FA;
  --accent-brown: #8D6E63;
}

body {
  background-color: #fdfcf8;
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

h1,
h2,
h3,
h4,
.serif-font {
  font-family: 'Playfair Display', 'Noto Serif KR', serif;
}